Source: meshtools
Section: utils
Priority: extra
Maintainer: Stefan Schlager <zarquon42@gmail.com>
Build-Depends: cmake,
               debhelper (>= 9),
               fluid,
               libfltk1.3-dev,
               libglew-dev,
               libvtk6-dev,
               libxinerama-dev
Homepage: http://morphomuseum.com/meshtools
Standards-Version: 3.9.5

Package: meshtools
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Meshtools
